name: Build

on:  
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
env:
  Solution_Name: NyaDesktop
  Solution_FileName: NyaDesktop.sln

jobs:  
  build:    
    runs-on: windows-latest
    
    steps:      
      - uses: actions/checkout@v2
      
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.0.5
        
      - name: Setup VSTest
        uses: darenm/Setup-VSTest@v1

      - name: Navigate to Workspace
        run: cd $GITHUB_WORKSPACE

      - name: Restore Packages
        run: nuget restore $env:Solution_FileName

      - name: Build Solution
        run: |
          msbuild.exe $env:Solution_FileName /p:platform="Any CPU" /p:configuration="Release"
# TODO: set up tests        
#      - name: Run Tests
#        run: vstest.console.exe .\tests\BeatSaberDiscordLink.Tests\bin\Release\BeatSaberDiscordLink.Tests.dll

      - uses: actions/upload-artifact@v2
        with:
         name: BeatSaberDiscordLink
         path: ${{ github.workspace }}\${{ env.Solution_Name }}\bin\Release\* # or path/to/artifact
